#banner {
    width: 100%;
    padding: 150px 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    /* 기본값은 repeat이고 반복하지 않겠다는 뜻 */
    background-position: center center;
    /* 이미지의 중간을 공간안에 기준으로 넣는것 */
    background-size: cover;
    background-attachment: fixed;

    /* background: url(../img/banner.jpg) no-repeat
    center/cover fixed; */
}

#banner .inner {
    width: 1180px;
    margin: 0 auto;
}

#banner .inner h2 {
    font: bold 30px/1 "arial";
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

#banner .inner p {
    font: 16px/1.3 "arial";
    color: #bbb;
    text-align: center;
}

@media screen and (max-width:1179px) {
    #banner{
        padding: 100px 20px;
    }

    #banner .inner {
        width: 100%;
    }
}