figure {
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    background-color: #555;
}

figure video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

figure .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

figure .inner h2 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}

figure .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 80px;
}

figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    text-align: center;
    /* x축으로 가운데정렬 */
    font: bold 11px/30px "arial";
    /* y축으로 가운데 정렬 : line-height값을
    height값과 동일하게 부여합니다 */
    color: #fff;
}

figure .inner a:hover {
    background-color: #fff;
    color: #555;
}

@media screen and (max-width:1179px) {
    figure{
    height: calc(100vh - 100px); 
    background-image: url(../img/visual1.jpg);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
}

    figure video{
        display: none;
    }

    figure .inner{
        width: 100%;
        padding: 0px 20px;
    }

    figure .inner h2 {
        font: normal 14vw/1 "arial";
    }

    figure .inner a{
        width: 100%;
    }

}