header {
    width: 100%;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

/* 글은 a태그에 작성하였기 때문에 h1에는 폰트가 적용이 안됨
반드시 글을 작성한 a태그에 font를 적용합니다 */
header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #444;
}

/* menu Web */
header .inner .menuWeb #gnb {
    position: absolute;
    right: 30px;
    bottom: 0;
}

header .inner .menuWeb #gnb li {
    float: left;
}

header .inner .menuWeb #gnb li a {
    display: block;
    padding: 14px 40px;
    font: bold 14px/1 "arial";
    color: #777;
}

header .inner .menuWeb #gnb li a:hover {
    background-color: #555;
    color: #fff;
}

header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;
}

header .inner .util li {
    float: left;
    margin-left: 20px;
}

header .inner .util li a {
    font: 12px/1 "arial";
    color: #999;
}

/* 햄버거버튼 */
header .inner .btnCall{
    position: absolute;
    top: 50%;
    right: 30px;
    display: none;
    transform: translateY(-50%);
    width: 20px; height: 20px;
}

header .inner .btnCall::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.5s 0s, transform 0.5s 0.5s;
}

header .inner .btnCall::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}

header .inner .btnCall span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    text-indent: -999999999px;
    transition: 0.5s;
}
/* 자바스크립트에서는 on이라는 클래스를 붙이기만 하고 실제 움직이거나
변경되는 것은 css에 적어둡니다 */
header .inner .btnCall.on::before{
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
}

header .inner .btnCall.on::after{
    bottom: 50%;
    margin-bottom:-1px;
    transform: rotate(-45deg);
}

header .inner .btnCall.on::after{
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(-45deg);
}

header .inner .btnCall.on span{
    opacity: 0;
    transform: translateX(-50%);
}


/* 모바일 메뉴 */

header .inner .menuMo{
    width: 270px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    /* left: 0; */
    left: -270px;
    padding: 35px 30px;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
}

header .inner .menuMo.on {
    left: 0;
}

header .inner .menuMo h2{
    padding-bottom: 30px;
    border-bottom: 1px solid #666;
}

header .inner .menuMo h2 a{
    display: block;
    font: bold 24px/1 "arial";
    color: #fff;
}

header .inner .menuMo h2 span {
    font-size: 12px;
    color: #aaa;
}

header .inner .menuMo #gnbMo li a {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #444;
    font: bold 14px/1 "arial";
    color : #888;
}

@media screen and (max-width:1179px){
        header .inner{
        width: 100%;
        height: 100px;}

        header .inner h1{
        left: 20px;
        bottom: 30px;
        }
    
    header .inner .menuWeb{
        display: none;
    }

    header .inner .btnCall{
    display: block;
    }

  
}

 /* 모든 코드는 웹버전에 만들어 두고,
    (반응형에 해당하는 코드까지도 웹버전에 만들어 둔다는 뜻)
    반응형에 해당하는 구간에서는 해당 코드들을
    display none등으로 안보이게 하거나, 보여야하는 것들은
    display block등으로 보이게 하는 것으로 구현합니다 */

